employment data for a college organized by major and major category
what major has the best employment rate

In [1]:
import pandas as pd
import numpy as np
#import io
#import requests

In [2]:
url = 'https://raw.githubusercontent.com/fivethirtyeight/data/master/college-majors/all-ages.csv'

# college_data = requests.get(url).content
#college_major = pd.read_csv(io.StringIO(college_data.decode('utf-8')))
college_major = pd.read_csv(url)

In [3]:
college_major.columns

Index(['Major_code', 'Major', 'Major_category', 'Total', 'Employed',
       'Employed_full_time_year_round', 'Unemployed', 'Unemployment_rate',
       'Median', 'P25th', 'P75th'],
      dtype='object')

In [4]:
college_major.shape

(173, 11)

In [5]:
college_major.isnull().sum()

Major_code                       0
Major                            0
Major_category                   0
Total                            0
Employed                         0
Employed_full_time_year_round    0
Unemployed                       0
Unemployment_rate                0
Median                           0
P25th                            0
P75th                            0
dtype: int64

turn the major column in to the index values
drop uneccessary columns and rename the Employed_full_time_year_round column

In [15]:
new_col_major = college_major.set_index('Major').drop(['Median', 'P25th', 'P75th'], axis=1)
new_col_major.rename(columns={'Employed_full_time_year_round':'Employed_FT_YR'}, inplace=True)
new_col_major[:3]

,Major_code,Major_category,Total,Employed,Employed_FT_YR,Unemployed,Unemployment_rate
Major,,,,,,,
GENERAL AGRICULTURE,1100,Agriculture & Natural Resources,128148,90245,74078,2423,0.026147
AGRICULTURE PRODUCTION AND MANAGEMENT,1101,Agriculture & Natural Resources,95326,76865,64240,2266,0.028636
AGRICULTURAL ECONOMICS,1102,Agriculture & Natural Resources,33955,26321,22810,821,0.030248

Which major has the highest rate of full time employment?
Military Technologies is on top but it says it has more people employed full time year round then it had in the total employed column. This appears to be a mistake.
Nuclear Enginnering would have the highest rate.

Which major has the highest unemployment rate?
Miscellaneous Fine Arts

calc the employment rate for the major and add to data sort by employment rate

In [16]:
new_col_major['Full_Time_Employment_rate'] = new_col_major['Employed_FT_YR'] / new_col_major['Employed']

In [17]:
new_col_major.sort_values('Full_Time_Employment_rate', ascending=False)[:3]

,Major_code,Major_category,Total,Employed,Employed_FT_YR,Unemployed,Unemployment_rate,Full_Time_Employment_rate
Major,,,,,,,,
MILITARY TECHNOLOGIES,3801,Industrial Arts & Consumer Services,4315,1650,1708,187,0.101796,1.035152
NUCLEAR ENGINEERING,2418,Engineering,9826,7320,6474,527,0.067159,0.884426
MECHANICAL ENGINEERING RELATED TECHNOLOGIES,2504,Engineering,29348,24190,21273,1101,0.043533,0.879413

cort by unemployment rate

In [18]:
new_col_major.sort_values('Unemployment_rate', ascending=False)[:3]

,Major_code,Major_category,Total,Employed,Employed_FT_YR,Unemployed,Unemployment_rate,Full_Time_Employment_rate
Major,,,,,,,,
MISCELLANEOUS FINE ARTS,6099,Arts,8511,6431,3802,1190,0.156147,0.591199
CLINICAL PSYCHOLOGY,5202,Psychology & Social Work,7638,5128,3297,587,0.102712,0.642941
MILITARY TECHNOLOGIES,3801,Industrial Arts & Consumer Services,4315,1650,1708,187,0.101796,1.035152